@{
    ViewBag.Title = "Créditos";
}

<div class="container-creditos">
    <div class="content-box">
        <h1>Créditos</h1>
        <div class="creditos-content">
            <div class="persona">
                <div class="imagen">
                    <img src="~/img/feli.jpg" alt="Felipe Roballo">
                </div>
                <p>Felipe Roballo</p>
            </div>
            <div class="persona">
                <div class="imagen">
                    <img src="~/img/brandon.jpg" alt="Brandon Uriel De La Fuente">
                </div>
                <p>Brandon Uriel De La Fuente</p>
            </div>
        </div>
        <button onclick="location.href='@Url.Action("Index", "Home")'">Volver</button>
    </div>
</div>
