@{
    ViewBag.Title = "Créditos";
}

<h1>Créditos</h1>

<div>
    <img src="~/images/integrante1.png" alt="Integrante 1" />
    <p>Felipe Roballo</p>
    <img src="~/images/integrante2.png" alt="Integrante 2" />
    <p>Brandon De La Fuente </p>
</div>
