@{
    ViewBag.Title = "Créditos";
}

<h1>Créditos</h1>

<div>
    <img src="~/img/feli.png" alt="Feli" />
    <p>Felipe Roballo</p>
    <img src="~/img/uri.png" alt="Uri" />
    <p>Brandon De La Fuente </p>
</div>
