@{
    ViewBag.Title = "Créditos";
}

<div class="container-creditos">
    <div class="content-box">
        <h1>Créditos</h1>
        <p>Felipe Roballo</p>
        <p>Brandon Uriel De La Fuente</p>
        <button onclick="location.href='@Url.Action("Index", "Home")'">Volver</button>
    </div>
</div>
