@{
    ViewBag.Title = "Habitacion 4";
}
<div class="container">
    <h1>Cuarta y ultima pregunta</h1>
    <p>¿Cual es el sanguche de preferencia del brujo Slener?</p>
    <form method="post" action="/Home/Habitacion">
        <input type="hidden" name="sala" value="4" />
        <input type="text" name="clave" placeholder="Ingresa tu respuesta" />
        <button type="submit">Validar</button>
    </form>
    <div class="pistas">
    <button onclick="alert('Pista 1: El legendario')">Pista 1</button>
    <button onclick="alert('Pista 2: El mas mitico')">Pista 2</button>
    </div>
    @if(ViewBag.Error != null)
    {
        <div style="color: red;">
            <p>@ViewBag.Error</p>
        </div>
    }
</div>