@{
    ViewBag.Title = "Inicio";
}

<div class="container-index">
    <h1>¡Bienvenido a La cucina di Slener!</h1>
    <div class="logo">
        <img src="~/img/cucina.png" alt="Logo del juego" />
    </div>
    <div class="button-group">
        <a href="@Url.Action("Tutorial")" class="btn">Tutorial</a>
        <a href="@Url.Action("Comenzar")" class="btn btn-primary">Comenzar</a>
        <a href="@Url.Action("Creditos")" class="btn">Créditos</a>
    </div>
</div>
