@{
    ViewBag.Title = "Tutorial";
}

<h1>Tutorial del juego</h1>

<p>Breve reseña explicando de qué trata la temática elegida.</p>

<div>
    <img src="~/images/scene1.png" alt="Escena 1" />
    <img src="~/images/scene2.png" alt="Escena 2" />
    <img src="~/images/scene3.png" alt="Escena 3" />
</div>
