@{
    ViewBag.Title = "Tutorial";
}

<div class="container-tutorial">
    <div class="content-box">
        <h1>Tutorial</h1>
        <p>El malvado brujo Slener te atrapó en su jaula mágica. Para salir de esta tienes que responder sus preguntas. Tienes dos pistas por pregunta para ayudarte. ¡Buena suerte!</p>
        <button onclick="location.href='@Url.Action("Index", "Home")'">Volver</button>
    </div>
</div>
