html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container-index {
  width: 80%;
  margin: auto;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

p {
  text-align: center;
  font-size: 18px;
  color: #555;
}

form {
  text-align: center;
  margin: 20px 0;
}

input[type="text"] {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #cccccc;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
}

button:hover {
  background-color: #ddd;
}

.pistas {
  text-align: center;
  margin-top: 20px;
}

.error {
  color: rgb(194, 0, 0);
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.container-tutorial, .container-creditos {
  width: 80%;
  margin: 50px auto;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.content-box {
  background-color: #e6edf3;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-box h1 {
  margin-bottom: 20px;
  color: #333;
}

.content-box p {
  margin-bottom: 20px;
  color: #555;
  font-size: 18px;
}

.content-box button {
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.content-box button:hover {
  background-color: #ddd;
}

.logo img {
  max-width: 200%;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background-color: #bebebe;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #333;
}

.btn:hover {
  background-color: #ddd;
}

.btn-primary {
  background-color: #28e037;
  border: 2px #1eb332;
  color: #e7e7e7;
}

.btn-primary:hover {
  background-color: #40f140;
}
