html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
  font-family: Arial, sans-serif;
  background-color: #8a6f61;
  margin: 0;
  padding: 0;
}

.container {
  color: white;
  width: 80%;
  margin: auto;
  padding: 30px;
  background: #9e8a78;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container-index {
  width: 80%;
  margin: auto;
  padding: 30px;
  background: #917f6f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

p {
  text-align: center;
  font-size: 18px;
  color: #555;
}

form {
  text-align: center;
  margin: 20px 0;
}

input[type="text"] {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

button {
  background-color: #66101F;
  border: 1px solid #52081e;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  color: white;
}

button:hover {
  background-color: #8a1b2e;
}

.pistas {
  text-align: center;
  margin-top: 20px;
}

.error {
  color: rgb(194, 0, 0);
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.container-tutorial, .container-creditos {
  background-color: #725e53;
  width: 80%;
  margin: 50px auto;
  padding: 30px;
  background: #72584c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.content-box {
  background-color: #6e5445;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-box h1 {
  margin-bottom: 20px;
  color: #333;
}

.content-box p {
  margin-bottom: 20px;
  color: #555;
  font-size: 18px;
}

.content-box button {
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.content-box button:hover {
  background-color: #ddd;
}

.logo img {
  max-width: 100%;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background-color: #66101F;
  border: 1px solid #52081e;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.btn:hover {
  background-color: #8a1b2e; 
}

.btn-primary {
  background-color: #28e037;
  border: 2px #1eb332;
  color: #e7e7e7;
}

.btn-primary:hover {
  background-color: #40f140;
}
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
      font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
  font-family: Arial, sans-serif;
  background-color: #8a6f61;
  margin: 0;
  padding: 0;
}

.container-creditos {
  width: 80%;
  margin: 50px auto;
  padding: 30px;
  background: #B89178;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #8A5E48;
}

.content-box {
  background-color: #D7B2A4; 
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #8A5E48;
}

button {
  background-color: #66101F;
  border: 1px solid #52081e;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #8a1b2e;
}

.creditos-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.persona {
  text-align: center;
  width: 45%;
}

.imagen {
  width: 90%;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.imagen img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content-box h1 {
  margin-bottom: 20px;
  color: #ffffff;
}

.content-box p {
  color: #ffffff;
  font-size: 18px;
}

button {
  background-color: #66101F;
  border: 1px solid #52081e;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #8a1b2e;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.img img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  display: block;
}

.footer {
  background-color: #4a2f24;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}